{% extends 'base.html' %}

{% block Head %}
<title>Register</title>
{% endblock %}

{% block Body %}
<form action="/register" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" required>
    <label for="borndate">Born Date</label>
    <input type="date" name="borndate" required>
    <label for="email">email</label>
    <input type="email" name="email" required>
    <label for="password">password</label>
    <input type="password" name="password" required>
    <button type="submit">Submit</button>
    <p>Already have account? <a href=""></a></p>
</form>
{% endblock %}